/* reset */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Tahoma, sans-serif;
	color: #000;
	font-size: 18px;
	line-height: 26px;
	background: #c0c0c0;
}


.test__quiz {
	width: 768px;
	height: 950px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	animation: bounceIn 2s;
}

.test__quiz h3 {
	padding-top: 50px;
	line-height: 36px;
}

/* form */
.test__form {
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

/* paragraphs */
.test__question {
	padding: 10px 0;
}

.question__group label {
	padding: 10px 0 10px 40px;
}

/* button */
.test__submit {
	display: block;
	margin: 40px auto;
	padding: 5px 15px;
	color: #063240;
	border-radius: 5px;
	border-color: #878B8C; 
	background-color: background: #7ccce6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e8f6fa, #11b8ed); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e8f6fa, #11b8ed); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e8f6fa, #11b8ed); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e8f6fa, #11b8ed); /* Standard syntax (must be last) */
}
